name: Make Release
on: 
  push:
    tags:
    - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: "zip"
          directory: src
          path: CleanCheat/ CleanCheat.h
          filename: release.zip
      
      #- uses: actions/upload-artifact@v1
      #  with:
      #    name: release
      #    path: ${{ github.workspace }}/src/release.zip
    
      # Upload
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ${{ github.workspace }}/src/release.zip
          token: ${{ secrets.GITHUB_TOKEN }}
